@import url(index.scss);
* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
.header {
  height: 62px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.navigation {
  display: none;
}

.header__button {
  display: none;
}

.header__menu-buton {
  height: 100%;
  border: none;
  width: 58px;
  border-left: 1px solid #00000026;
  background: transparent;
  margin-left: auto;
}

.header__menu-buton-icon {
  width: 18px;
  height: 13px;
  background-image: url(../img/icon-burger.png);
  display: inline-block;
}

.logo__deescription {
  display: none;
}

@media screen and (min-width: 400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }

  .header__menu-buton {
    display: none;
  }

  .header {
    height: 62px;
    width: 1140px;
    margin: auto;
    display: flex;
    background: transparent;
  }

  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }

  .header__button {
    display: block;
  }

  .logo__deescription {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }

  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.navigation-list__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}

.navigation-list__item_selected {
  font-weight: 700;
}

.navigation-list__item:last-child {
  margin-right: 0;
}

.navigation-list__arrow {
  width: 8px;
  height: 5px;
  display: inline-block;
  margin-left: 11px;
  background-image: url(../img/arrow.png);
  /* height: 5px;
  width: 8px; */
}

.logo {
  display: flex;
}

.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.about-company {
  margin-top: 43px;
}

.footer_description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}

/* .footer-navigation {
    width: 1140px;
    margin: 0 auto;
} */
.footer-navigation {
  width: 1140px;
  margin: 0 auto;
  height: 338px;
  display: flex;
}

.download {
  margin-top: 25px;
}

.download__items {
  margin-top: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
}

.additional-navigation_column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer__line {
  width: 100%;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
  margin: 0;
}

.footer-links {
  height: 50px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.terms {
  line-height: 50px;
}

.terms__items {
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  margin-right: 22px;
  text-decoration: none;
}

.social-links {
  margin-left: auto;
}

.social-links__item {
  margin-left: 20px;
}

.headlime {
  width: 100%;
}

.headlime__content {
  margin: 35px 15px 33px 15px;
  z-index: 1;
}

.headlime__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  z-index: 1;
}

.headlime__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  z-index: 1;
}

@media screen and (min-width: 400px) {
  .headlime {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }

  .headlime__content {
    position: absolute;
    z-index: 1;
  }

  .headlime__title {
    width: 754px;
    height: 165px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }

  .headlime__description {
    margin: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
    margin-left: 0;
  }
}
.headlime__banner {
  position: relative;
  right: -105px;
  top: 0;
  width: 796px;
  height: 448px;
  margin-left: auto;
}

.headlime__action {
  margin-top: 58px;
  display: flex;
}

.head__learn-more-btn {
  margin-left: 10px;
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f4f5f7;
  padding: 77px 130px 76px 130px;
}

.artical {
  width: 555px;
}

.artical_titel {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.artical_text {
  font-size: 22px;
  line-height: 32px;
  margin-top: 6px;
}

.customer {
  width: 1140px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 81px;
}

.customer_logo {
  filter: brightness(0);
}

.features {
  display: flex;
  position: relative;
}

.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}

.features__column {
  width: 459px;
}

.features__subtitel {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin-top: 24px;
  margin-bottom: 0;
}

.features__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  margin-top: 24px;
}

.features__descriptions {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  /* color: #2b292d; */
}

.features__advanteg-header {
  margin-top: 42px;
  line-height: 42px;
  display: flex;
}

.features__advanteg-titel {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}

.features__advanteg-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}

.features__advanteg-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}

.features__advanteg-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.features__left-declaretion {
  position: absolute;
  height: 166px;
  top: 258px;
  /* width: 167px; */
}

.features__banner {
  position: absolute;
  right: 0;
}

/*# sourceMappingURL=styles.css.map */
