.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f4f5f7;
    padding: 77px 130px 76px 130px;
}

.artical {
    width: 555px;
}

.artical_titel {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}

.artical_text {
    font-size: 22px;
    line-height: 32px;
    margin-top: 6px;
}