.customer {
    width: 1140px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 81px;
}

.customer_logo {
    filter: brightness(0);
}